
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.theme{
  background-image: url(./assets/img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.page-home{
  height: 100vh;
  width: 100vw;
  display: block;
  background-position: 50%;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 80px;
}


.header-area{
  background: transparent !important;
  margin-bottom: 240px;
}



.modo{
      display: grid;
      background-color: black;
      color: white;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      align-content: center;
      justify-content: center;
}

.personal-area{
  background-color: #000;
  width: 100%;
  margin-left: 0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 30px;
    position: sticky;
    top: 100px;
}

.personal-img{
  width: 240px;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
  margin: -180px auto 21px;
}

.personal-img img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    max-width: 100%;
    vertical-align: middle;
}

.personal-area_info{
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--common-black);
  font-family: Roboto Slab, serif;
  margin-bottom: 8px;
  text-align: center;
  padding: 40px 30px;
    top: 100px;
}

.personal-area_info-nombre{
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  font-family: Roboto, serif;
  margin-bottom: 8px;
}

.personal-area_info-bio{
  background-color: #1d1d1d;
  color: #a6a6a6;
  font-size: 14px;
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
    padding: 4px 20px;
        margin-bottom: 15px;
}

.personal-area_social-link{
  width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 7.5px;
    margin: 0 auto 30px;
}

.personal-area_social-link li{
  background-color: #1d1d1d;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
}

.personal-area_contacto{
  background-color: #1d1d1d;
  border-radius: 16px;
  text-align: left;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.personal-area_contacto_item{
  display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.personal-area_contacto_item .icon{
  flex: 0 0 auto;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #000;
    border-radius: 8px;
    text-align: center;
    line-height: 44px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .08);
    transition: .3s;
}

.personal-area_contacto_item .texto{
  display: inline-block;
}

.personal-area_contacto_item .texto span{
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 3px;
}

.personal-area_contacto_item .texto p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0;
}



.btn-2{
  font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    background: linear-gradient(97deg, #527ffa, #3724dd);
    color: #fff;
    display: inline-block;
    line-height: 27px;
    padding: 12px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: .3s;
}

.menu{
  text-align: right;
    margin-bottom: 40px;
}

.main-menu{
  background-color: #000;
  width: unset;
    position: unset;
    display: inline-block;
    border-radius: 16px;
    padding: 30px;
}

.main-menu-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-menu{
  background-color: #212425;
  color: #fff;
  display: inline-flex;
  margin-bottom: 0;
  margin-left: 16px;
  border-radius: 12px;
    width: 84px;
    height: 84px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s;
    text-decoration: none;
}

a.active {
  background: linear-gradient(97deg, #527ffa, #3724dd);
}

 .link-menu:hover{
  background: linear-gradient(97deg, #527ffa, #3724dd);
}

.link-menu span{
  font-size: 24px;
  margin-bottom: 12px;
  display: block;
}



.link-menu_item{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
}

.area-contenido{
  background-color: #000;
  border-radius: 20px;
}

.resumen-area_titulo h2{
  position: relative;
  display: inline-block;
  font-family: Roboto, serif;
  font-size: 40px;
  color: #fff;
    margin-top: 0px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.resumen-area_descricion-titulo h4{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-top: 0px;
    line-height: 1.5;
    text-transform: capitalize;
}

.resumen-area_descricion-titulo .icono{
  font-size: 30px;
    margin-right: 10px;
    margin-top: -5px;
    color: #0a6bfc ;
}



.resumen-area_card-item{
  border: 1px solid #212425;
  padding: 20px;
    border-radius: 12px;
    padding-top: 25px;
}
.resumen-area_card-item span{
  display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 9px;
}
.resumen-area_card-item h6{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 4px;
    margin-top: 0px;
    line-height: 1.5;
    text-transform: capitalize;
}

.resumen-area_card-item p{
  font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.acerca-area_titulo h2{
  position: relative;
    display: inline-block;
    font-family: Roboto, serif;
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 15px;
}

.acerca-area_titulo p{
  max-width: 632px;
  font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #a6a6a6;
    margin-top: 0;
    margin-bottom: 1rem;

}

.acerca-area_descripcion-titulo h3{
  margin-bottom: 0;
    font-weight: 500;
    font-size: 28px;
    font-family: Poppins, sans-serif;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
    text-transform: capitalize;
}

.acerca-lo-que-hago_item{
  border: 1px solid #353535;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  gap: 20px;
  padding: 20px 20px 15px;
  margin-bottom: 30px;
}

.icono-acerca{
  margin: 0px auto;
}

.icono-acerca .icono{
  margin: 0px auto;
  vertical-align: middle;
  font-size: 30px;
    margin-right: 10px;
    margin-top: -5px;
    color: #0a6bfc ;
}

.acerca-lo-que-hago_texto h4{
  margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
    text-transform: capitalize;
}

.acerca-lo-que-hago_texto p{
  margin-bottom: 0;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #a6a6a6;
  margin-top: 0;
}


.trabajos-area_titulo h2{
  position: relative;
    display: inline-block;
    font-family: Roboto, serif;
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.filtro-btn{
  text-align: right;
}

.filtro-btn ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.trabajos-portafolio{
  display: flex;
    flex-direction: row;
    place-content: stretch center;
    box-sizing: border-box;
    width: 100%;
    gap: 0px;
}

.trabajos-portafolio_muestras{
  display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      width: 0px;
      gap: 0px;
}

.trabajos-portafolio_muestras-item{
  width: 100%;
    opacity: 1;
    transform: none;
    height: fit-content !important;
    padding: 0 10px;
}

.trabajo-portafolio-cursor{
  width: 100%;
  border: 1px solid #353535;
  background-color: #0d0d0d;
  margin-bottom: 20px;
  display: inline-block;
    border-radius: 12px;
    padding: 20px;
}

.portafolio-item{
  border-radius: 12px;
    overflow: hidden;
    margin-bottom: 17px;
    display: block;
    transition: .1s;
    cursor: pointer;
}

.portafolio-item img{
  color: transparent;
    width: 100%;
    height: fit-content;
    transition: .3s;
    max-width: 100%;
    vertical-align: middle;
}

.portafolio-item span{
  color: #fff;
  display: block;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.portafolio-item h6{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
}

.modal-content{
  background-color: #323232;

}

.modal-titulo{
  font-family: Poppins, sans-serif;
  margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #0a6bfc ;
  margin-bottom: 35px;
  text-transform: capitalize;
}

.portfolio-modal-table-text{
  font-family: Poppins, sans-serif;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.h1-modal-paragraph{
  margin-bottom: 30px;
  pointer-events: auto;
}

.h1-modal-paragraph p{
  font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #a6a6a6;
    margin-top: 0;
    margin-bottom: 1rem;
}

.h1-modal-img{
  border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.h1-modal-img img{
  color: transparent;
    width: 100%;
    height: fit-content;
    max-height: 450px;
    object-fit: cover;
    transition: .3s;
    max-width: 100%;
    vertical-align: middle;
}

.modal-header{
    right: 16%;
    top: 5%;
    display: inline-block;
    position: fixed;
    border-bottom: 0;
    padding: 0;
    align-items: center;
    border-bottom: none !important;
}

.modal-header .close{
  background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border: 1px solid;
    line-height: 38px;
    transition: .3s;
    text-transform: none;
    margin: 0;
    font-family: inherit;

}



.contacto-area_titulo h2{
  position: relative;
    display: inline-block;
    font-family: Roboto, serif;
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.contacto-area_descripcion-folmulario{
  background-color: #0d0d0d;
    padding: 60px 45px;
    border-radius: 20px;
}

.contacto-titulo{
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #a6a6a6;
  text-transform: capitalize;
  margin-bottom: 13px;
  margin-top: 0;
    line-height: 1.5;
}

.contacto-titulo-b{
  font-family: Poppins, sans-serif;
  font-size: 25px;
    font-weight: 700;
    text-transform: lowercase;
    margin-bottom: 45px;
    color: #fff;
    margin-top: 0;
    line-height: 1.5;
}

input[type=text] {
  background-color: transparent;
  color: #fff;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #a6a6a6;
}

textarea {
  color: #fff;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;
  resize: none;
  border: none;
  border-bottom: 1px solid #a6a6a6;
}

.btn-form{
  font-size: 16px;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    height: 50px;
    width: 133px;
    border: 1px solid #44566c;
    border-radius: 12px;
    margin-top: 60px;
}

.btn-form:hover{
  background: linear-gradient(97deg, #527ffa, #3724dd);
}

.error {
  padding: 10px;
  color: white;
  background-color: red;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  }
  
